<div class="btn-group pull-right">
    {% if is_granted('EDIT', form) or is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ url('admin_get_form', {form: form.id}) }}">
            {{ icon('cog') }} {{ 'admin.navigation.form_admin'|trans }}
        </a>
    {% endif %}
    {% if is_granted('LIST_ENROLLMENTS', form) or is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ url('admin_get_form_enrollments', {form: form.id}) }}">
            {{ icon('file-text-o') }} {{ 'admin.navigation.enrollments'|trans }}
        </a>
    {% endif %}
</div>
