{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block content %}
    <div class="panel-heading clearfix">
        {% include 'AppBundle:Admin:per_page_button.html.twig' %}
        <h3 class="panel-title">{{ icon('list-alt') }} {{ 'admin.form.list.title'|trans }}</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'label.name'|trans }}</th><th>{{ 'admin.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        <td>{{ obj.name }}</td>
                        <td>
                            {% spaceless %}
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-default" href="{{ url('app_get_enrollment', {form: obj.id}) }}" title="{{ 'admin.navigation.form'|trans }}">
                                        {{ icon('list-alt') }}<span class="sr-only">{{ 'admin.navigation.form'|trans }}</span>
                                    </a>
                                    <a class="btn btn-primary {% if not is_granted('LIST_ENROLLMENTS', obj) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_get_form_enrollments', {form: obj.id}) }}" title="{{ 'admin.navigation.enrollments'|trans }}">
                                        {{ icon('file-text-o') }}<span class="sr-only">{{ 'admin.navigation.enrollments'|trans }}</span>
                                    </a>
                                    <a class="btn btn-info" href="{{ url('admin_get_form', {form: obj.id}) }}" title="{{ 'admin.navigation.view'|trans }}">
                                        {{ icon('eye') }}<span class="sr-only">{{ 'admin.navigation.view'|trans }}</span>
                                    </a>
                                    <a class="btn btn-default {% if not is_granted('EDIT', obj) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_edit_form', {form: obj.id}) }}" title="{{ 'admin.navigation.edit'|trans }}">
                                        {{ icon('edit') }}<span class="sr-only">{{ 'admin.navigation.edit'|trans }}</span>
                                    </a>
                                    <a class="btn btn-danger {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_remove_form', {form: obj.id}) }}" title="{{ 'admin.navigation.delete'|trans }}">
                                        {{ icon('trash-o') }}<span class="sr-only">{{ 'admin.navigation.delete'|trans }}</span>
                                    </a>
                                    <a class="btn btn-default {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_new_form', {copy_from: obj.id}) }}" title="{{ 'admin.navigation.copy'|trans }}">
                                        {{ icon('clone') }}<span class="sr-only">{{ 'admin.navigation.copy'|trans }}</span>
                                    </a>
                                </div>
                            {% endspaceless %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body text-center">
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
{% endblock %}
