{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block title %}Edit {{ form.name }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('list-alt') }} Edit {{ form.name }}</h3>
    </div>
    <div class="panel-body">
        {{ form(data) }}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        (function() {
            var update = function() {
                var $this = $(this).parent();
                var $enable_checkbox = $this.find('input[type=checkbox][id$=_enable]');
                var $configuration_fields = $enable_checkbox.parent().parent().parent().siblings();
                var $legend = $this.find('legend');
                $legend.find('.fa-fw').remove();
                if($enable_checkbox.prop('checked')) {
                    $legend.prepend('{{ icon('check-square-o fa-fw') }}');
                    $configuration_fields.show();
                } else {
                    $legend.prepend('{{ icon('square-o fa-fw') }}');
                    $configuration_fields.hide();
                }
            };
            $('input[type=checkbox][id$=_enable]')
                    .parent().parent().parent().hide()
                    .parents('fieldset')
                    .find('legend')
                    .on('click', function() {
                        var $enable_checkbox = $(this).parent().find('input[type=checkbox][id$=_enable]');
                        $enable_checkbox.prop('checked', !$enable_checkbox.prop('checked'));
                    })
                    .on('click', update)
                    .each(update);
        })();
    </script>
{% endblock %}
