{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block title %}{{ 'admin.form.view.title'|trans({'%name%': form.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('list-alt') }} {{ 'admin.form.view.title'|trans({'%name%': form.name}) }}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>{{ 'admin.form.editFormGroups'|trans }}</dt><dd>{% for group in form.editFormGroups %}{{ group }}<br>{% endfor %}</dd>
            <dt>{{ 'admin.form.listEnrollmentsGroups'|trans  }}</dt><dd>{% for group in form.listEnrollmentsGroups %}{{ group }}<br>{% endfor %}</dd>
            <dt>{{ 'admin.form.editEnrollmentsGroups'|trans }}</dt><dd>{% for group in form.editEnrollmentsGroups %}{{ group }}<br>{% endfor %}</dd>
        </dl>

    </div>
    <div class="panel-body">
        {% for template in data.templates %}
            {% include template with data.templates[template] %}
        {% endfor %}
    </div>
{% endblock %}