{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block title %}{% trans %}View{% endtrans %} {{ form.name }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('list-alt') }} {% trans %}Form{% endtrans %} {{ form.name }}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>{% trans %}Edit form groups{% endtrans %}</dt><dd>{% for group in form.editFormGroups %}{{ group }}<br>{% endfor %}</dd>
            <dt>{% trans %}List enrollments groups{% endtrans %}</dt><dd>{% for group in form.listEnrollmentsGroups %}{{ group }}<br>{% endfor %}</dd>
            <dt>{% trans %}Edit enrollments groups{% endtrans %}</dt><dd>{% for group in form.editEnrollmentsGroups %}{{ group }}<br>{% endfor %}</dd>
        </dl>

    </div>
    <div class="panel-body">
        {% for template in data.templates %}
            {% include template with data.templates[template] %}
        {% endfor %}
    </div>
{% endblock %}