{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block title %}{{ 'admin.form.delete.title'|trans({'%name%': form.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('list-alt') }} {{ 'admin.form.delete.title'|trans({'%name%': form.name}) }}</h3>
    </div>
    <div class="panel-body">
        {{ form(data) }}
    </div>
{% endblock %}
