<h4>{{ 'plugin.pricing.title'|trans }}</h4>
<dl class="dl-horizontal">
   <dt>{{ 'plugin.pricing.conf.formula'|trans }}</dt><dd><pre>{{ pluginData.formula }}</pre></dd>
   <dt>{{ 'plugin.pricing.conf.payment_expression'|trans }}</dt>
   <dd>
       {% if pluginData.payment_expression %}
           <pre>{{ pluginData.payment_expression }}</pre>
       {% else %}
           {{ label('plugin.label.disabled'|trans) }}
       {% endif %}
   </dd>
</dl>
