<h4>{{ 'plugin.date.title'|trans }}</h4>
<dl class="dl-horizontal">
    <dt>{{ 'plugin.date.conf.start_date'|trans }}</dt>
    <dd>
        {% if pluginData.startDate %}
            {{ pluginData.startDate|date }}
        {% else %}
            <span class="text-muted">{{ 'admin.none_placeholder'|trans }}</span>
        {% endif %}
    </dd>
   <dt>{{ 'plugin.date.conf.end_date'|trans }}</dt>
   <dd>
       {% if pluginData.endDate %}
           {{ pluginData.endDate|date }}
       {% else %}
           <span class="text-muted">{{ 'admin.none_placeholder'|trans }}</span>
       {% endif %}
   </dd>
</dl>
