<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="list-group">
        {% macro render_link(route, param, ico, name) %}
            <a class="list-group-item {% if app.request.attributes.get('_route') == route %} active{% endif%}" href="{{ url(route, param) }}">{{ icon(ico~' fa-fw') }} {{ name }}</a>
        {% endmacro %}
        {% import _self as self %}
        {% if route_data is defined %}
            {{ self.render_link('admin_get_'~route_postfix, route_data, 'eye', 'View') }}
            {{ self.render_link('admin_edit_'~route_postfix, route_data, 'pencil', 'Edit') }}
            {{ self.render_link('admin_remove_'~route_postfix, route_data, 'trash', 'Delete') }}
        {% endif %}
        {{ self.render_link('admin_get_'~route_postfix~'s', {}, 'list', 'List') }}
        {{ self.render_link('admin_new_'~route_postfix, {}, 'plus', 'Create') }}
    </div>
</div>
