<h4>{{ 'plugin.count_enrollments.title'|trans }}</h4>
<dl class="dl-horizontal">
    <dt>{{ 'plugin.count_enrollments.conf.maxEnrollments'|trans }}</dt><dd>{{ pluginData.maxEnrollments }}</dd>
    <dt>{{ 'plugin.count_enrollments.conf.denyEnrollments'|trans }}</dt>
    <dd>
        {% if pluginData.denyEnrollments %}
            {{ label_success('plugin.label.enabled'|trans) }}
            <p class="text-muted">
                {{ 'plugin.count_enrollments.conf.denyEnrollments.enabled.help'|trans }}
            </p>
        {% else %}
            {{ label('plugin.label.disabled'|trans) }}
            <p class="text-muted">
                {{ 'plugin.count_enrollments.conf.denyEnrollments.disabled.help'|trans }}
            </p>
        {% endif %}
    </dd>
    <dt>{{ 'plugin.count_enrollments.conf.countExpression'|trans }}</dt>
    <dd>
        <pre>{{ pluginData.countExpression }}</pre>
    </dd>
</dl>
