<h4>{{ 'plugin.form_builder.title'|trans }}</h4>
<table class="table">
    <thead>
        <tr>
            <th>{{ 'plugin.form_builder.conf.fields.name'|trans }}</th>
            <th>{{ 'plugin.form_builder.conf.fields.type'|trans }}</th>
            <th>{{ 'plugin.form_builder.conf.fields.options'|trans }}</th>
            <th>{{ 'plugin.form_builder.conf.fields.constraints'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for field in pluginData.fields %}
        <tr>
            <th>{{ field.name }}
                {% if field.required %}
                    {{ label_success('plugin.label.required'|trans) }}
                {% endif %}
                {% if field.disabled %}
                    {{ label('plugin.label.disabled'|trans) }}
                {% endif %}
            </th>
            <td>{{ ('plugin.form_builder.conf.fields.type.choice.'~field.type|split('\\')|last)|trans }}</td>
            <td>{% if field.options != '{}' %}{{ field.options }}{% endif %}</td>
            <td>
                <ul>
                    {% for constraint in field.constraints %}
                        <li style="white-space: nowrap">
                            {{ ('plugin.form_builder.conf.fields.constraints.type.choice.'~constraint.type|split('\\')|last)|trans }}
                            {%- if constraint.options != 'null' -%}
                                ({{ constraint.options }})
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
