{% extends 'AppBundle:Admin/Enrollment:skeleton.html.twig' %}
{% block content %}
    <div class="panel-heading clearfix">
        {% include 'AppBundle:Admin/Enrollment:cget_header_buttons.html.twig' %}
        <h3 class="panel-title">{{ icon('file-text-o') }} {{ 'admin.enrollment.list.title'|trans({'%name%': form.name}) }} {{ label('admin.enrollment.list.num_results'|transchoice(data.totalItemCount, {'%count%': data.totalItemCount})) }}</h3>
    </div>
    {% set use_batch = batch_form.action.vars.choices|length > 0 %}
    {% if use_batch %}
        {{ form_start(batch_form, { style: 'inline' }) }}
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% for columnDef in event.getFields('html') %}
                        <th>{{ columnDef.columnHeader }}</th>
                    {% endfor %}
                    <th>{{ 'admin.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        {% for columnDef in event.getFields('html') %}
                            <td>
                                {% if loop.first and use_batch %}
                                    <input type="checkbox" name="form[subjects][{{ obj.id }}]" value="1" {% if not is_granted('EDIT_ENROLLMENT', form) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}>
                                {% endif %}
                                {{ columnDef.renderColumnData({data: obj})|raw }}
                            </td>
                        {% endfor %}
                        <td>
                            {% spaceless %}
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-info" href="{{ url('admin_get_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="{{ 'admin.navigation.view'|trans }}">
                                        {{ icon('eye') }}<span class="sr-only">{{ 'admin.navigation.view'|trans }}</span>
                                    </a>
                                    <a class="btn btn-default {% if not is_granted('EDIT_ENROLLMENT', form) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_edit_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="{{ 'admin.navigation.edit'|trans }}">
                                        {{ icon('edit') }}<span class="sr-only">{{ 'admin.navigation.edit'|trans }}</span>
                                    </a>
                                    <a class="btn btn-danger {% if not is_granted('EDIT_ENROLLMENT', form) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_remove_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="{{ 'admin.navigation.delete'|trans }}">
                                        {{ icon('trash-o') }}<span class="sr-only">{{ 'admin.navigation.delete'|trans }}</span>
                                    </a>
                                </div>
                            {% endspaceless %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body text-center">
        {% if use_batch %}
            <div class="pull-left">
                {% do form_row(batch_form.subjects) %}
                {{ form_row(batch_form.action) }} {{ form_row(batch_form.submit) }}
            </div>
        {% endif %}
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
    {% if use_batch %}
        {{ form_end(batch_form) }}
    {% endif %}
{% endblock %}
