{% extends 'AppBundle:Admin/Enrollment:skeleton.html.twig' %}
{% block content %}
    <div class="panel-heading clearfix">
        {% include 'AppBundle:Admin/Enrollment:cget_header_buttons.html.twig' %}
        <h3 class="panel-title">{{ icon('file-text-o') }} Enrollments for {{ form.name }}</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% for columnDef in event.getFields('html') %}
                        <th>{{ columnDef.columnHeader }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        {% for columnDef in event.getFields('html') %}
                            <td>
                                {{ columnDef.renderColumnData({data: obj})|raw }}
                            </td>
                        {% endfor %}
                        <td>
                            {% spaceless %}
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-info" href="{{ url('admin_get_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="View">
                                        {{ icon('eye') }}<span class="sr-only">View</span>
                                    </a>
                                    <a class="btn btn-default {% if not is_granted('EDIT_ENROLLMENT', form) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_edit_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="Edit">
                                        {{ icon('edit') }}<span class="sr-only">Edit</span>
                                    </a>
                                    <a class="btn btn-danger {% if not is_granted('EDIT_ENROLLMENT', form) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}" href="{{ url('admin_remove_form_enrollment', {form: form.id, enrollment: obj.id}) }}" title="Delete">
                                        {{ icon('trash-o') }}<span class="sr-only">Delete</span>
                                    </a>
                                </div>
                            {% endspaceless %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-body text-center">
        {{ knp_pagination_render(data, "", {"media_type": null}) }}
    </div>
{% endblock %}
