<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'admin.navigation.title'|trans }}</h3>
    </div>
    <div class="list-group">
        {% macro render_link(_route, route, param, ico, name, disabled) %}
            <a class="list-group-item {% if _route == route %} active{% endif%}{% if disabled and not is_granted('ROLE_ADMIN') %} disabled{% endif %}" href="{{ url(route, param) }}">{{ icon(ico~' fa-fw') }} {{ name }}</a>
        {% endmacro %}
        {% import _self as self %}
        {% if enrollment %}
            {{ self.render_link(_route, 'admin_get_form_enrollment', {form: form.id, enrollment: enrollment.id}, 'eye', 'admin.navigation.view'|trans, not is_granted('LIST_ENROLLMENTS', form)) }}
            {{ self.render_link(_route, 'admin_edit_form_enrollment', {form: form.id, enrollment: enrollment.id}, 'pencil', 'admin.navigation.edit'|trans, not is_granted('EDIT_ENROLLMENT', form)) }}
            {{ self.render_link(_route, 'admin_remove_form_enrollment', {form: form.id, enrollment: enrollment.id}, 'trash', 'admin.navigation.delete'|trans, not is_granted('EDIT_ENROLLMENT', form)) }}
        {% endif %}
        {{ self.render_link(_route, 'admin_get_form_enrollments', {form: form.id}, 'list', 'admin.navigation.list'|trans, not is_granted('LIST_ENROLLMENTS', form)) }}
    </div>
</div>
<div class="panel panel-default">
    <div class="list-group">
        {{ self.render_link(_route, 'admin_get_form', {form: form.id}, 'arrow-left', 'admin.navigation.form_admin'|trans, false) }}
        {{ self.render_link(_route, 'app_get_enrollment', {form: form.id}, 'globe', 'admin.navigation.form'|trans, false) }}
    </div>
</div>
